<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EventManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.anii.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendeeLoginServlet</servlet-name>
    <servlet-class>com.anii.controller.AttendeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendeeLoginServlet</servlet-name>
    <url-pattern>/AttendeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateEventServlet</servlet-name>
    <servlet-class>com.anii.controller.CreateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEventServlet</servlet-name>
    <url-pattern>/CreateEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterAttendeeServlet</servlet-name>
    <servlet-class>com.anii.controller.RegisterAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAttendeeServlet</servlet-name>
    <url-pattern>/RegisterAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.anii.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePDFServlet</display-name>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <servlet-class>com.anii.controller.GeneratePDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <url-pattern>/GeneratePDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAttendeesServlet</display-name>
    <servlet-name>ViewAttendeesServlet</servlet-name>
    <servlet-class>com.anii.controller.ViewAttendeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAttendeesServlet</servlet-name>
    <url-pattern>/ViewAttendeesServlet</url-pattern>
  </servlet-mapping>
</web-app>